<div id="<%= dom_id grade %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Value:</strong>
    <%= grade.value %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Execute on:</strong>
    <%= grade.execute_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Examination:</strong>
    <%= grade.examination_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Student:</strong>
    <%= grade.student_id %>
  </div>
</div>
