<div id="<%= dom_id person %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Username:</strong>
    <%= person.username %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lastname:</strong>
    <%= person.lastname %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Firstname:</strong>
    <%= person.firstname %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= person.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= person.phone_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Iban:</strong>
    <%= person.iban %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= person.role %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= person.status_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= person.address_id %>
  </div>
</div>
