<% content_for :title, "Admin Dashboard" %>

<%= render "shared/admin_tabs" %>

<div class="space-y-6">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
      <% if @active_tab == "promotion_asserts" %>
        <h2 class="text-base font-semibold leading-6 text-gray-900">Promotion Rules</h2>
      <% else %>
        <h2 class="text-base font-semibold leading-6 text-gray-900"><%= @active_tab.titleize %></h2>
      <% end %>
        <p class="mt-2 text-sm text-gray-700">Here are all the <%= @active_tab == "promotion_asserts" ? "promotion rules" : @active_tab %> in ROR Intranet</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <%= link_to "New #{@active_tab.singularize.titleize}", 
            case @active_tab
            when 'people'
              new_person_path
            when 'courses'
              new_course_path
            when 'promotion_asserts'
              new_promotion_assert_path
            end, 
            class: "block rounded-md bg-blue-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" %>
      </div>
    </div>
    
    <%= render partial: "#{@active_tab}/index", locals: { resources: @resources } %>
  </div>
</div> 