<div id="<%= dom_id promotion_assert %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= promotion_assert.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Function:</strong>
    <%= 
      case promotion_assert.function
      when "average" then "Average"
      when "minimum" then "Minimum"
      when "maximum" then "Maximum"
      else promotion_assert.function
      end
    %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Moment:</strong>
    <%= promotion_assert.moment&.uid %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sector:</strong>
    <%= promotion_assert.sector&.name %>
  </div>
</div>
