<% content_for :title, "Subject: #{@subject.name}" %>
<% unless user_signed_in? && current_user.person&.type == 'Student' %>
  <%= render "shared/admin_tabs" %>
<% end %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing subject</h1>

  <%= render @subject %>

  <%= link_to "Edit this subject", edit_subject_path(@subject), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to subjects", subjects_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <div class="sm:inline-block mt-2 sm:mt-0 sm:ml-2">
    <%= button_to "Archive this subject", @subject, method: :delete, class: "w-full rounded-md px-3.5 py-2.5 text-white bg-amber-600 hover:bg-amber-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure you want to archive this subject?" } %>
  </div>
</div>
