<div id="<%= dom_id school_class %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Uid:</strong>
    <%= school_class.uid %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= school_class.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Moment:</strong>
    <%= school_class.moment_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Room:</strong>
    <%= school_class.room_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Master:</strong>
    <%= school_class.master_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sector:</strong>
    <%= school_class.sector_id %>
  </div>
</div>
