<div id="<%= dom_id moment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Uid:</strong>
    <%= moment.uid %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start on:</strong>
    <%= moment.start_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End on:</strong>
    <%= moment.end_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Moment type:</strong>
    <%= moment.moment_type %>
  </div>
</div>
